<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="index.css">
</head>


<body>
<header>
<h1>라라대학교</h1>
<a href="/p-main">교수용</a>
</header>

<main>
    <div class="container">
	<div class="pro">
	<h1>이름: 김몽학생</h1>
	<span>학과:컴퓨터공학과</span>
	</div>
	
	<div class="weather">날씨</div>
	<div class="shed">시간표</div>
	<div class="board">게시판</div>
	<div class="class-list">수강목록</div>
	</div>

</main>


</body>
</html>